
@{
    ViewBag.Title = "MyChart";
}
<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script>
        
        $(document).ready(function () {
            $('#update').on('click', draw);
            
            google.charts.load('current', { 'packages': ['line'] });
            google.charts.setOnLoadCallback(draw);

        });
        
 
        function draw() {
            debugger;
            var type = $('#Datetype').val();            
            var length = ($('#Numberofpoints').val() == "") ? 1 : $('#Numberofpoints').val();
          $.ajax({
              url: "/api/chart/getpoints/" + length + "," + type,
              dataType: "json",
              method: "GET",
              success: function (pack) {
                  var choosedType = pack.Type;
                  var data = new google.visualization.DataTable();
                  data.addColumn('string', choosedType);
                  data.addColumn('number', 'line');
                  data.addRows(pack.XLine.length);
                  // The X axis
                  $.each(pack.XLine, function (key, value) {
                      data.setCell(key, 0, value);
                  });
                  
                  $.each(pack.FirstLine, function (key, value) {
                      data.setCell(key, 1, value);
                  });
                  
                  var options = {
                      chart: {
                          title: 'Efficiency',
                          subtitle: 'in ' + choosedType
                      },
                      width: 1200,
                      height: 500
                  };

                  var chart = new google.charts.Line(document.getElementById('linechart_material'));

                  chart.draw(data, options);
              },
              error: function (data) {
                  alert(data.responseText);
              }
              
          });
         
      }
    </script>
</head>
<body>
        <br />
        <br />
        <b>Раскрывающийся список</b>
        @Html.DropDownList("Datetype",
                        new SelectList(new[] { "Days", "Minutes" }))
        <br />
        <br />
       <b>Количество точек:</b>    
        @Html.TextBox("Numberofpoints")

        <br /><br />
        <button id="update"> Update</button>

    <br />
    <br />
    <hr />
    <div id="linechart_material" style="width: 1300px; height: 500px"></div>
    <hr />

</body>
</html>




